@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    height: 100vh;
    color: #000;
    font-family: 'Nanum Gothic', sans-serif;
}
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
